java/servicemix/file/servicemix.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://servicemix.org/config/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://servicemix.org/config/1.0'>

  <!-- element for type: org.servicemix.jbi.container.ActivationSpec -->
  <xs:element name='activationSpec'>
    <xs:complexType>
      <xs:sequence>
      <xs:element name='component' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='destinationResolver' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='interfaceChooser' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='marshaler' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='persistent' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='serviceChooser' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='subscriptions' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:element ref='tns:subscriptionSpec'/></xs:sequence></xs:complexType>
      </xs:element>
      </xs:sequence>
      <xs:attribute name='component' type='xs:string'/>
      <xs:attribute name='componentName' type='xs:string'/>
      <xs:attribute name='destinationEndpoint' type='xs:string'/>
      <xs:attribute name='destinationInterface' type='xs:QName'/>
      <xs:attribute name='destinationOperation' type='xs:QName'/>
      <xs:attribute name='destinationResolver' type='xs:string'/>
      <xs:attribute name='destinationService' type='xs:QName'/>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='failIfNoDestinationEndpoint' type='xs:boolean'/>
      <xs:attribute name='id' type='xs:string'/>
      <xs:attribute name='interfaceChooser' type='xs:string'/>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='marshaler' type='xs:string'/>
      <xs:attribute name='operation' type='xs:QName'/>
      <xs:attribute name='persistent' type='xs:string'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:attribute name='serviceChooser' type='xs:string'/>
      <xs:attribute name='subscriptions' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'></xs:anyAttribute>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.servicemix.jbi.container.SpringJBIContainer -->
  <xs:element name='container'>
    <xs:complexType>
      <xs:sequence>
      <xs:element name='activationSpecs' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:element ref='tns:activationSpec'/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='applicationContext' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='beanFactory' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='componentNames' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='deployArchives' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='flow' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='mBeanServer' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='namingContext' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='propertyChangeListener' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='serviceManager' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='transactionManager' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name='workManager' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      </xs:sequence>
      <xs:attribute name='activationSpecs' type='xs:string'/>
      <xs:attribute name='applicationContext' type='xs:string'/>
      <xs:attribute name='autoEnlistInTransaction' type='xs:boolean'/>
      <xs:attribute name='beanFactory' type='xs:string'/>
      <xs:attribute name='componentNames' type='xs:string'/>
      <xs:attribute name='createMBeanServer' type='xs:boolean'/>
      <xs:attribute name='currentState' type='xs:string'/>
      <xs:attribute name='deployArchives' type='xs:string'/>
      <xs:attribute name='deploymentDirPath' type='xs:string'/>
      <xs:attribute name='dumpStats' type='xs:boolean'/>
      <xs:attribute name='flow' type='xs:string'/>
      <xs:attribute name='flowName' type='xs:string'/>
      <xs:attribute name='installationDirPath' type='xs:string'/>
      <xs:attribute name='mBeanServer' type='xs:string'/>
      <xs:attribute name='monitorInstallationDirectory' type='xs:boolean'/>
      <xs:attribute name='name' type='xs:string'/>
      <xs:attribute name='namingContext' type='xs:string'/>
      <xs:attribute name='persistent' type='xs:boolean'/>
      <xs:attribute name='propertyChangeListener' type='xs:string'/>
      <xs:attribute name='rootDir' type='xs:string'/>
      <xs:attribute name='serviceManager' type='xs:string'/>
      <xs:attribute name='statsInterval' type='xs:integer'/>
      <xs:attribute name='subscriptionFlowName' type='xs:string'/>
      <xs:attribute name='transactionManager' type='xs:string'/>
      <xs:attribute name='useMBeanServer' type='xs:boolean'/>
      <xs:attribute name='workManager' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'></xs:anyAttribute>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.servicemix.jbi.container.SubscriptionSpec -->
  <xs:element name='subscriptionSpec'>
    <xs:complexType>
      <xs:sequence>
      <xs:element name='filter' minOccurs='0' maxOccurs='1'>
        <xs:complexType><xs:sequence><xs:any/></xs:sequence></xs:complexType>
      </xs:element>
      </xs:sequence>
      <xs:attribute name='endpoint' type='xs:string'/>
      <xs:attribute name='filter' type='xs:string'/>
      <xs:attribute name='interfaceName' type='xs:QName'/>
      <xs:attribute name='operation' type='xs:QName'/>
      <xs:attribute name='service' type='xs:QName'/>
      <xs:anyAttribute namespace='##other' processContents='lax'></xs:anyAttribute>
    </xs:complexType>
  </xs:element>


</xs:schema>
